
<script src="assets/js/main.min.js"></script>
<script src="assets/js/1.js"></script>


{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}
<script src="assets/js/google_analytics.js"></script>
<!-- 引入 Firebase App SDK -->
<script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>

<!-- 引入 Firebase Analytics SDK -->
<script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-analytics.js"></script>

<!-- 引入 Firebase Database SDK -->
<script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-database.js"></script>
<script src="assets/js/firebase.js"></script>